.data_list .commentDatas{
	padding: 10px;
}

.data_list .commentDatas .comment{
	margin-top:10px;
	margin-bottom: 5px;
	padding-bottom:15px;
	border-bottom: 1px dotted gray;
}

.data_list .commentDatas .comment #font1{
	font-weight: bold;
}

.data_list .commentDatas .comment #font2{
    float: right;
}